
#navbar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logo img{
    height:35px;
    left:0px;
    top:2px;
}
.navigation ul{
    top:1px;
}
.navigation ul li a{
    padding:6px;
    font-size: 0.8rem;
}
.btn{
    top:2px;
    right:0px;
}
.btn button{
    width:40px;
    height:14px;
}
.btn button a{
    font-size: 0.5rem;
  position: relative;
  bottom: 4px;
}

/* home section */
.headpara{
    width:280px;
}

/* register section */
#register{
    flex-direction: column;
}
#login{
    margin-right:0px;
    width:240px;
}
#signup{
    margin-top: 15px;
    width:240px;

}
#logsign h1{
    font-size: 1.5rem;
}
.btn3 h2{
    font-size: 1.5rem;
}
.form-input1 label{
    font-size: 0.8rem;
}
.form-input2 label{
    font-size: 0.8rem;
}
.btn3 button{
    font-size: 0.6rem;
}
.signbtn button{
    font-size: 0.7rem;
}
.logbtn button{
    font-size: 0.7rem;
}
.form-input2 input{
    width:100px;
}
.form-input1 input{
    width:100px;
}

/* service section */
#box{
    flex-wrap: wrap;
}

/* clients section */
.clients3 img{
    width:270px;
}

/* about-us section  */

.information1{
    font-size: 0.6rem;
    width:200px;
}
.contact{
    font-size: 0.6rem;
    bottom:8px;
}
.branch{
    font-size: 0.4rem;
}
.branch2{
    margin-top: 3px;
}

/* help section */

#help1 label{
    font-size: 1.1rem;
}
#help1 form{
    padding:1rem;
}
#help1 input,
#help1 textarea{
  padding:0.2rem;
}
.subbtn button{
    width:50px;
    font-size: 0.7rem;
}

footer{
    font-size: 0.7rem;
}